/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
/* Custom properties */
:root {
  --light-color: #fff;
  --dark-color: #171721;
  --dark-color-lighter: #7e8299;
  --dark-color-medium: #303240;
  --accent-color: #eb9800;
  --body-background-color: #202028;
  --border-bottom-color: rgba(255, 255, 255, 0.05);
  --transparent-button-color: rgba(255, 255, 255, 0.1);
  --font-size-small: 1.8rem;
  --font-size-normal: 2.2rem;
  --font-size-medium: 2.6rem;
  --font-size-large: 3rem;
  --font-family: "Josefin Sans", sans-serif;
  --margin-small: 1rem;
  --margin-medium: 1.5rem;
  --gap-small: 1rem;
  --gap-medium: 2.5rem;
  --overlay-background-color: rgba(23, 23, 23, 0.5);
}

.theme-light {
  --light-color: #171721;
  --dark-color: #fff;
  --dark-color-lighter: #7e8299;
  --dark-color-medium: #dcdde3;
  --body-background-color: #eef0f8;
  --border-bottom-color: rgba(23, 23, 23, 0.05);
  --transparent-button-color: var(--accent-color);
  --overlay-background-color: rgba(255, 255, 255, 0.5);
}
/* Base styles */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */
  font-size: 62.5%;
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size-normal);
  color: var(--light-color);
  line-height: 1.5;
  background-color: var(--body-background-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

button {
  font: inherit;
  color: inherit;
  background-color: transparent;
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;
}

i {
  font-size: var(--font-size-normal);
  line-height: 0;
  margin-bottom: 0.3rem;
}
/* Reusable classes */
.container {
  max-width: 134rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.centered {
  margin: 0 auto;
}

.center-content {
  text-align: center;
}

.full-width {
  width: 100%;
}

.place-items-center {
  display: inline-flex !important;
  align-items: center;
  justify-content: center;
}

.d-grid {
  display: grid;
}
/* Floating background image */
.floating-background-image {
  height: 45rem;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.floating-background-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
/* Header */
.header {
  background-color: var(--dark-color);
}

.nav {
  height: 6rem;
  display: flex;
  align-items: center;
}

.menu-toggle-btn i,
.align-right i {
  margin-bottom: 0;
}

.nav-mobile .list {
  font-weight: 400;
}

.logo {
  font-family: "Josefin Sans", cursive;
  font-weight: bold;
  font-size: var(--font-size-medium);
  margin-top: 0.3rem;
}

.align-right {
  margin-left: auto;
  background-color: var(--accent-color);
  border-radius: 0.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon-btn {
  width: 4rem;
  height: 4rem;
  transition: background-color 0.25s ease;
}

.icon-btn:hover {
  background-color: #bf80e8;
}

.menu-toggle-open {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.theme-toggle-btn {
  border-radius: 0;
}

.user-account-icon {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.icon-separator,
.icon-separator-toggler {
  width: 1px;
  background-color: var(--light-color);
  display: inline-block;
  height: 2rem;
}

.theme-dark-icon {
  display: none;
}

.nav-mobile {
  width: 100%;
  height: 100vh;
  background-color: var(--light-color);
  position: fixed;
  top: 0;
  left: 0;
  padding: 2.5rem;
  transform: translateX(-105%);
  z-index: 999;
  transition: transform 0.5s;
}

.list {
  display: flex;
  flex-direction: column;
  gap: var(--gap-small);
}

.icon-title {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.github-icon {
  border-radius: 0.4rem;
  border: 0.1rem solid var(--dark-color-lighter);
  max-width: 10rem;
  max-height: 10rem;
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  margin-bottom: 2rem;
  background-color: #171721;
}

.regular-link {
  display: block;
  font: inherit;
  font-size: var(--font-size-small);
  color: var(--color-light);
  background-color: var(--transparent-button-color);
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;
  padding: 1rem 1.5rem;
  width: fit-content;
}

.list-link {
  display: inline-block;
  font-size: var(--font-size-small);
  color: var(--dark-color-lighter);
  padding: 1rem 1.5rem;
}

.icon-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.social-title {
  text-align: center;
}

.social-link {
  border-radius: 0.4rem;
  border: 0.1rem solid var(--dark-color-lighter);
  padding: 1rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 1rem;
  width: 100%;
  justify-content: flex-start;
}

.social-link-img {
  margin-right: 1rem;
  max-width: 4rem;
  max-height: 4rem;
}

.social-link-description {
  margin-top: 0.3rem;
}

.current {
  color: var(--dark-color);
}

.menu-toggle-close {
  background-color: var(--body-background-color);
  position: absolute;
  top: 2.5rem;
  right: 2.5rem;
}

.dropdown-menu {
  background-color: #eef0f8;
  gap: 0;
  margin-left: 1.5rem;
  transform: translateY(-0.3rem);
  height: 0;
  opacity: 0;
  pointer-events: none;
  transition: transform 0.5s;
}

.dropdown > .list-link i {
  transition: transform 0.25s;
}

/* JavaScript styles */

.nav-mobile.active {
  transform: translateX(0);
}

.theme-light .theme-dark-icon {
  display: block;
}

.theme-light .theme-light-icon {
  display: none;
}

.dropdown.active > .list-link i {
  transform: rotate(90deg);
}

.dropdown.active .dropdown-menu {
  height: initial;
  transform: translateY(0);
  opacity: 1;
  pointer-events: auto;
}

/* Welcome message */

.card {
  background-color: var(--dark-color);
  padding: 2.5rem;
  border-radius: 0.4rem;
  box-shadow: 0.5rem 0.5rem 1rem rgba(82, 63, 105, 0.05);
}

.title {
  font-size: var(--font-size-normal);
  margin-bottom: var(--margin-small);
}

.independent-header-container {
  padding: 2.5rem 0 1.25rem;
  font-size: var(--font-size-normal);
  margin-bottom: var(--margin-small);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.round-image {
  border-radius: 50%;
  overflow: hidden;
}

.profile-image {
  width: 18rem;
  height: 18rem;
  border-color: var(--overlay-background-color);
  box-shadow: 0 0 2rem var(--overlay-background-color);
  margin-bottom: 1.5rem;
}

.independent-title {
  font-size: var(--font-size-medium);
  color: var(--light-color);
  background: var(--overlay-background-color);
  max-width: 20rem;
  text-align: center;
  padding: 0.5rem 1rem 0;
  border-radius: 0.4rem;
}

.main-title {
  font-size: var(--font-size-large);
}

.card-header {
  padding-block: 1rem;
  margin-bottom: var(--margin-medium);
  border-bottom: 1px solid var(--border-bottom-color);
}

small {
  font-size: 1.6rem;
  color: var(--dark-color-lighter);
  line-height: 1.3 !important;
}

.card-header .title {
  margin-bottom: 0;
}

.card-image {
  padding: 2.5rem;
}

.card-description {
  font-size: var(--font-size-small);
  margin-bottom: var(--margin-small);
}

/* Management area */

.quick-homepage-form input,
.quick-homepage-form textarea {
  width: 100%;
  padding: 1rem 1.5rem;
  margin-bottom: 1rem;
  border: 0.1rem solid var(--dark-color-lighter);
  border-radius: 0.4rem;
  font-family: var(--font-family);
  font-size: var(--font-size-small);
  background-color: var(--dark-color-medium);
  color: var(--light-color);
}

.quick-homepage-form textarea {
  resize: none;
}

.quick-homepage-form button {
  display: block;
}

.management-area {
  padding-block: 2.5rem;
}

.management-area-container,
.card-group {
  gap: var(--gap-medium);
}

.management-area .card-header {
  border-bottom: none;
}

.card-body-link {
  font-size: var(--font-size-small);
  background-color: var(--accent-color);
  margin-bottom: var(--margin-medium);
  padding: 1.5rem;
  border-radius: 0.4rem;
  display: flex;
  align-items: center;
  gap: var(--gap-small);
}

.card-group .card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  min-height: 17.5rem;
  border-radius: 0.4rem;
  background-color: var(--dark-color);
}

.card-group .card::after {
  content: "";
  position: absolute;
  width: 10rem;
  height: 10rem;
  top: -2px;
  right: -2px;
  z-index: -1;
  border-radius: inherit;
}

.star {
  color: #1ba190;
  font-weight: 700;
}

.border-green::after {
  background-image: linear-gradient(
    235deg,
    #1ba190,
    transparent,
    var(--dark-color)
  );
}

.border-yellow::after {
  background-image: linear-gradient(
    235deg,
    #feba5b,
    transparent,
    var(--dark-color)
  );
}

.border-orange::after {
  background-image: linear-gradient(
    235deg,
    #eb786c,
    transparent,
    var(--dark-color)
  );
}

.border-pink::after {
  background-image: linear-gradient(
    235deg,
    #f11db2,
    transparent,
    var(--dark-color)
  );
}

.card-group .card-description {
  margin-bottom: var(--margin-medium);
}

.card-group .list-link,
.quick-homepage-form .list-link {
  background-color: var(--transparent-button-color);
  color: var(--color-light);
  margin-bottom: var(--margin-medium);
}

/* Footer */
.footer {
  font-size: var(--font-size-small);
  color: var(--dark-color-lighter);
  background-color: var(--dark-color);
  padding: 1.35rem 0;
}

.footer-container {
  display: flex;
  flex-direction: column;
  gap: var(--gap-medium);
}

.footer .list-link {
  padding-left: 0;
}

.copyright-information {
  order: 1;
}
/* Scrollbar */
::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #3f4254;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #2e303b;
}

/* Media queries */

@media screen and (min-width: 768px) {
  .nav {
    height: 7rem;
  }

  .independent-header-container {
    font-size: var(--font-size-large);
    padding: 4rem 0 2rem;
    flex-direction: row;
    justify-content: flex-start !important;
  }
  .profile-image {
    margin-right: 2rem;
    margin-bottom: 0;
  }

  .card-body {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: var(--gap-medium);
    padding-block: 2.5rem;
  }

  .card-image {
    padding: 0;
  }

  .card-image img {
    max-width: 80%;
    margin: auto;
  }

  .management-area-container {
    grid-template-columns: 35rem 1fr;
  }

  .footer-container {
    flex-direction: row;
    align-items: center;
  }

  .copyright-information {
    order: 0;
  }

  .footer .list {
    flex-direction: row;
    margin-left: auto;
  }

  .footer .list-link {
    padding-left: 1.5rem;
  }
}

@media screen and (min-width: 1024px) {
  .menu-toggle-btn {
    display: none !important;
  }

  .icon-separator-toggler {
    display: none !important;
  }

  .theme-toggle-btn {
    border-bottom-left-radius: 0.4rem;
    border-top-left-radius: 0.4rem;
  }

  .nav-mobile {
    width: initial;
    height: initial;
    background-color: initial;
    position: initial;
    padding: initial;
    transform: initial;
    transition: initial;
  }

  .nav-mobile > .list {
    flex-direction: row;
    margin-left: 4rem;
  }

  .github-icon {
    margin-right: 2rem;
    margin-bottom: 0;
  }

  .github-title {
    margin-bottom: 0;
  }

  .social-title {
    text-align: left;
  }

  .icon-title {
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 2rem;
  }

  .regular-link {
    margin: 0;
  }

  .list-link,
  .card-body-link,
  .regular-link,
  .social-link {
    transition: color 0.25s, background-color 0.25s;
  }

  .nav-mobile .list-link {
    border-radius: 0.4rem;
    padding-bottom: 0.5rem;
  }

  .current,
  .nav-mobile .list-link:hover,
  .nav-mobile .list-link:focus {
    background-color: var(--accent-color);
    color: var(--light-color);
  }

  .dropdown {
    position: relative;
  }

  .dropdown-menu {
    width: 25rem;
    height: initial;
    background-color: var(--light-color);
    padding: 1.5rem;
    margin-left: 0;
    border-radius: 0.4rem;
    position: absolute;
    top: 100%;
    left: 0;
    transform: translateY(0.8rem);
    box-shadow: 0 0 3rem rgba(23, 23, 23, 0.2);
    transition: transform 0.25s, opacity 0.25s;
  }

  .dropdown.active .dropdown-menu {
    transform: translateY(1.5rem);
  }

  .dropdown-menu .list-link {
    display: block;
  }

  .card-body-link {
    background-color: var(--accent-color);
  }

  .card-body-link:hover {
    background-color: var(--light-color);
    color: var(--dark-color);
  }

  .card-group {
    grid-template-columns: repeat(2, 1fr);
  }

  .border-green {
    grid-column: 1/-1;
  }

  .border-yellow,
  .border-orange {
    grid-column: 1/2;
  }

  .border-pink {
    grid-column: 2/-1;
    grid-row: 2/4;
  }

  .card-group .list-link:hover,
  .quick-homepage-form .list-link:hover {
    background-color: var(--light-color);
    color: var(--dark-color);
  }

  .regular-link:hover,
  .social-link:hover {
    background-color: var(--light-color);
    color: var(--dark-color);
  }

  .footer .list-link:hover {
    color: var(--accent-color);
  }
}
